.card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(248, 235, 255);
    border-radius: 10px;
    margin: 10px 0;
}

.searchbar {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    width: 300px;
    margin-bottom: 20px;
}

.select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    width: 300px;
    margin-left: 20px;
}